@import "tailwindcss";

@theme inline {
  --color-black: #111827;
  --color-white: #ffffff;
  --color-gray: #9ca3af;
  --color-blue: #0075eb;
  --color-yellow: #ffd600;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: Helvetica, Arial, sans-serif;
}
